<?xml version="1.0"?>
<launch>

	<!-- arguments -->
	<!-- <arg name="domain_path"	default="$(find pddl)/common/domain_turtlebot.pddl" />
	<arg name="problem_path"	default="$(find pddl)/common/problem_turtlebot.pddl" /> -->

	<!-- <arg name="domain_path"	default="$(find pddl)/common/domain_bot_visiting_temporal.pddl" />
	<arg name="problem_path"	default="$(find pddl)/common/problem_bot_visiting_temporal.pddl" /> -->

	<!-- <arg name="domain_path"		default="$(find pddl)/common/domain_farmbot.pddl" />
	<arg name="problem_path"	default="$(find pddl)/common/test_unity_move_problem.pddl" /> -->

	<!-- <arg name="domain_path"		default="$(find pddl)/common/metrical_domain/metric_domain_farmbot.pddl" />
	<arg name="problem_path"	default="$(find pddl)/common/metrical_domain/metric_problem.pddl" /> -->

	<arg name="domain_path"		default="$(find pddl)/common/classical_domain/classical_domain_farmbot.pddl" />
	<arg name="problem_path"	default="$(find pddl)/common/classical_domain/classical_problem_initial_state.pddl" />

	<!-- knowledge base -->
	<node name="rosplan_knowledge_base" pkg="rosplan_knowledge_base" type="knowledgeBase" respawn="false" output="screen">
		<param name="domain_path" value="$(arg domain_path)" />
		<param name="problem_path" value="$(arg problem_path)" /> 
		<!-- conditional planning flags -->
		<param name="use_unknowns" value="false" />
	</node>

	<!-- problem generation -->
	<include file="$(find rosplan_planning_system)/launch/includes/problem_interface.launch">
		<arg name="knowledge_base"   value="rosplan_knowledge_base" />
		<arg name="domain_path"      value="$(arg domain_path)" />
		<arg name="problem_path"     value="$(find pddl)/common/problem.pddl" />
		<arg name="problem_topic"    value="problem_instance" />
	</include>

  	<!--planner interface -->
	<include file="$(find rosplan_planning_system)/launch/includes/planner_interface.launch">
		<arg name="use_problem_topic"    value="true" />
		<arg name="problem_topic"        value="/rosplan_problem_interface/problem_instance" />
		<arg name="planner_topic"        value="planner_output" />
		<arg name="domain_path"          value="$(arg domain_path)" />
		<arg name="problem_path"         value="$(find pddl)/common/problem.pddl" />
		<arg name="data_path"            value="$(find pddl)/common/" />
		<arg name="planner_command"      value="timeout 10 $(find rosplan_planning_system)/common/bin/popf -n  DOMAIN PROBLEM" />
		<arg name="planner_interface"    value="popf_planner_interface" />

<!-- 
		<arg name="planner_interface"    value="ff_planner_interface" />
		<arg name="planner_command"      value="$(find rosplan_planning_system)/common/bin/Metric-FF -o DOMAIN -f PROBLEM" /> -->
	</include>


	<!-- plan parsing -->
	<include file="$(find rosplan_planning_system)/launch/includes/parsing_interface.launch">
		<arg name="knowledge_base"   value="rosplan_knowledge_base" />
		<arg name="planner_topic"    value="/rosplan_planner_interface/planner_output" />
		<arg name="plan_topic"       value="complete_plan" />
		<!-- <arg name="planner_type"	 value="pddl_esterel_plan_parser" /> -->
		<arg name="parser_type"	 value="pddl_simple_plan_parser" />
	</include>

	<!-- plan dispatch -->
	<include file="$(find rosplan_planning_system)/launch/includes/dispatch_interface.launch">
		<arg name="knowledge_base"           value="rosplan_knowledge_base" />
		<arg name="plan_topic"               value="/rosplan_parsing_interface/complete_plan" />
		<arg name="action_dispatch_topic"    value="action_dispatch" />
		<arg name="action_feedback_topic"    value="action_feedback" />
		<arg name="dispatcher_type"			 value="pddl_simple_plan_dispatcher" />
		<!-- <arg name="planner_type"			 value="pddl_esterel_plan_dispatcher" /> -->
	</include>


	<!-- unity simulation interface -->
	<include file="$(find unity_connector)/launch/unity_connection.launch" />

	<!-- action interface with rosplan -->
	<include file="$(find farmbot_action_interface)/launch/farmbot_action.launch" >
		<arg name="pddl_action_name" value="move" />
	</include>
	<include file="$(find farmbot_action_interface)/launch/farmbot_action.launch" >
		<arg name="pddl_action_name" value="pick_up_tool" />
	</include>
	<include file="$(find farmbot_action_interface)/launch/farmbot_action.launch" >
		<arg name="pddl_action_name" value="put_down_tool" />
	</include>
	<include file="$(find farmbot_action_interface)/launch/farmbot_action.launch" >
		<arg name="pddl_action_name" value="pick_up_seed" />
	</include>
	<include file="$(find farmbot_action_interface)/launch/farmbot_action.launch" >
		<arg name="pddl_action_name" value="place_seed" />
	</include>
	<include file="$(find farmbot_action_interface)/launch/farmbot_action.launch" >
		<arg name="pddl_action_name" value="check_need_water" />
	</include>
	<include file="$(find farmbot_action_interface)/launch/farmbot_action.launch" >
		<arg name="pddl_action_name" value="water_plant" />
	</include>
	<include file="$(find farmbot_action_interface)/launch/farmbot_action.launch" >
		<arg name="pddl_action_name" value="skip_water_plant" />
	</include>
	<include file="$(find farmbot_action_interface)/launch/farmbot_action.launch" >
		<arg name="pddl_action_name" value="drop_seed" />
	</include> 

	<include file="$(find farmbot_action_interface)/launch/farmbot_action.launch" >
		<arg name="pddl_action_name" value="detect_weed" />
	</include> 
	<include file="$(find farmbot_action_interface)/launch/farmbot_action.launch" >
		<arg name="pddl_action_name" value="remove_weed" />
	</include> 
	<include file="$(find farmbot_action_interface)/launch/farmbot_action.launch" >
		<arg name="pddl_action_name" value="skip_remove_weed" />
	</include> 




	<!-- simulated action -->
	<!-- <include file="$(find farmbot_action_interface)/launch/farmbot_simulated_action.launch" >
		<arg name="pddl_action_name" value="move" />
		<arg name="action_duration" value="1" />
	</include>
	<include file="$(find farmbot_action_interface)/launch/farmbot_simulated_action.launch" >
		<arg name="pddl_action_name" value="pick_up_tool" />
		<arg name="action_duration" value="1" />
	</include>
	<include file="$(find farmbot_action_interface)/launch/farmbot_simulated_action.launch" >
		<arg name="pddl_action_name" value="put_down_tool" />
		<arg name="action_duration" value="1" />
	</include>
	<include file="$(find farmbot_action_interface)/launch/farmbot_simulated_action.launch" >
		<arg name="pddl_action_name" value="drop_seed" />
		<arg name="action_duration" value="1" />
	</include>
	<include file="$(find farmbot_action_interface)/launch/farmbot_simulated_action.launch" >
		<arg name="pddl_action_name" value="pick_up_seed" />
		<arg name="action_duration" value="1" />
	</include>
	<include file="$(find farmbot_action_interface)/launch/farmbot_simulated_action.launch" >
		<arg name="pddl_action_name" value="place_seed" />
		<arg name="action_duration" value="1" />
	</include>
	<include file="$(find farmbot_action_interface)/launch/farmbot_simulated_action.launch" >
		<arg name="pddl_action_name" value="check_need_water" />
		<arg name="action_duration" value="1" />
	</include>
	<include file="$(find farmbot_action_interface)/launch/farmbot_simulated_action.launch" >
		<arg name="pddl_action_name" value="water_plant" />
		<arg name="action_duration" value="1" />
	</include>
	<include file="$(find farmbot_action_interface)/launch/farmbot_simulated_action.launch" >
		<arg name="pddl_action_name" value="skip_water_plant" />
		<arg name="action_duration" value="1" />
	</include> -->

</launch>

